.nav-link {
  padding: 6px 20px !important;
  color: white!important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.router-link-active {
  color: #63B1D3 !important;
  font-weight: bold;
}

.navbar {
  width: 100%;
  padding: 20px 20px;
  background-color: transparent !important;
  position: fixed;
  z-index: 100000;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.my_logo img {
  width: 75px;
  height: 70px;
}

.my_title {
  padding-top: 15px;
  padding-left: 10px;
}

.my_title a {
  font-size: 32px !important;
  font-weight: bolder;
}

.nav-item a:hover{
color: #63B1D3!important;
}

.navbar-inverse {
    width: 100% !important;
    background-color: black!important;
    transition: 1s;
}
.navbar-light .navbar-toggler-icon{
  background-image: url(../../assets/images/menu.svg)!important;
}
