
<div class="container-fluid" >
  <div class="card" >
      <div class="row mb-4"  data-aos="zoom-in"  data-aos-easing="linear"
      data-aos-duration="1500">
          <div class="col-md-4 col-sm-11 col-xs-11">
              <div class="footer-text pull-left">
                  <div class="d-flex my_logo">
                    <img src="../../assets/images/LogoN2.png" alt="">
                  </div>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi non pariatur
                      numquam animi nam at impedit odit nisi.</p>

                  <div class="social mt-2 mb-3">

                      <i class="fa fa-facebook-official fa-lg"></i>
                      <i class="fa fa-instagram fa-lg"></i>
                      <i class="fa fa-twitter fa-lg"></i>
                      <i class="fa fa-linkedin-square fa-lg"></i>
                      <i class="fa fa-facebook"></i>

                  </div>

              </div>
          </div>


          <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>

          <div class="col-md-2 col-sm-4 col-xs-4">

              <h5 class="heading">Services</h5>
              <ul>
                  <li>IT Consulting </li>
                  <li>Development</li>
                  <li>Cloud</li>
                  <li>DevOps & Support</li>
              </ul>

          </div>


          <div class="col-md-2 col-sm-4 col-xs-4">

              <h5 class="heading">Industries</h5>
              <ul class="card-text">
                  <li>Finance</li>
                  <li>Public Sector</li>
                  <li>Smart Office</li>
                  <li>Retail</li>
              </ul>

          </div>


          <div class="col-md-2 col-sm-4 col-xs-4">

              <h5 class="heading">Company</h5>
              <ul class="card-text">
                  <li>About Us</li>
                  <li>Blog</li>
                  <li>Contact</li>
                  <li>Join Us</li>
              </ul>

          </div>

      </div>


      <div class="divider mb-4" data-aos="zoom-in"  data-aos-easing="linear"
      data-aos-duration="1500">
      </div>


      <div class="row" style="font-size:10px;">

          <div class="col-md-12 col-sm-12 col-xs-12" data-aos="zoom-in"  data-aos-easing="linear"
          data-aos-duration="1500">

              <div class="pull-left">

                  <p><i class="fa fa-copyright"></i> 2023 By Turkana</p>

              </div>

          </div>





      </div>
  </div>

</div>
